<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="mediun">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <ion-list>
    <ion-item lines="full">
      <ion-thumbnail slot="start">
        <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/uHEZ4ZMziIjlAgCTQAEh9ROvtj0.jpg">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <div>
          <h1>Sem Remorso (2021)</h1>
          <p>30/04/2021 (BR) - 1h 50m</p>
          <p>Ação, Aventura, Thriller, Guerra</p>
        </div>
      </ion-label>

      <ion-chip color="success" outline>
        <ion-label>73%</ion-label>
      </ion-chip>
    </ion-item>
  </ion-list>

</ion-content>
